<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="regis"method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text"name='name' required><br><br>
        <label for="">Email</label>
        <input type="text"name='email'required><br><br>
        <label for="">Address</label>
        <input type="text"name='address'required><br><br>
        
        <input type="file"name='image' required><br><br>
        <label for="">Username</label>
        <input type="text"name='username'required><br><br>
        <label for="">Password1</label>
        <input type="text"name='password1'required><br><br>
        <label for="">Password2</label>
        <input type="text"name='password2'required><br><br>
        <input type="submit">
        {% if message %}
        {{message}}
        {% endif %}
    </form>

</body>
</html>